<!-- include header -->
<%- include('../include/_header') %>
<!-- /include header -->

<body>
  <div class="container">
    <h1 class="mb-4">All Parts</h1>
    <a href="/parts/new" class="btn btn-success">New Part</a>

    <div class="card-body">
      <h2>Filters:</h2>
      <form action="/parts" method="GET">
        <legend>Date</legend>
        <input type="radio" name="date" value="asc" >
        <label for="ASC">ASC</label>

        <input type="radio" name="date" value="desc">
        <label for="DESC">DESC</label>
      
        <legend>Search:</legend>
        <input type="text" name="search" placeholder="search">

        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
      </form>
    </div>


    <% const options = {year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'} %>

    <% parts.forEach(part => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= part.name %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= part.createdAt.toLocaleDateString(undefined, options) %>
          </div>
          <div class="card-text mb-2"><%= part.description %></div>

          <a href="/parts/<%= part.id %>" class="btn btn-primary">Read More</a>
          <a href="/parts/edit/<%= part.id %>" class="btn btn-info">Edit</a>
          <form action="/parts/<%= part.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>


<!-- include footer -->
<%- include('../include/_footer') %>
<!-- /include footer -->