<div class="form-group">
  <label for="title">First Name</label>
  <input value="<%= customer.firstName %>" type="text" name="firstName" id="firstName" class="form-control">
</div>
<div class="form-group">
  <label for="title">Last Name</label>
  <input value="<%= customer.lastName %>" type="text" name="lastName" id="lastName" class="form-control">
</div>
<div class="form-group">
  <label for="title">Email</label>
  <input required value="<%= customer.email %>" type="text" name="email" id="email" class="form-control">
</div>
<div class="form-group">
  <label for="title">Phone Number</label>
  <input required value="<%= customer.phoneNumber %>" type="text" name="phoneNumber" id="phoneNumber" class="form-control">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control"><%= customer.description %></textarea>
</div>

<div class="form-group">
  <label for="status">Status</label>
    <select id="statuses" name="status">
      <option value="Przyjeto">Przyjeto</option>
      <option value="W realizacji">W realizacji</option>
      <option value="Zrealizowano">Zrealizowano</option>
    </select>
</div>


<a href="/customers" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>